.menu {
   font-family: 'Open Sans', sans-serif;
   text-transform: uppercase;
   
   &--title {
      font-size: 1.2rem;
      color: #656d7e;
      
      
   }
   &--navigation {
      display: flex;
      flex-direction: column;
      color: #8b93a7;
      font-size: 0.9rem;
      font-weight: 600;
      margin: 20px 0;
   }
   &--anchor {
      margin: 5px 0;
      cursor: pointer;
      &:hover {
         color: #FFF;
      }
   }
}