.mobile-header {
   width: 100%;
   height: 48px;
   background-color: $mobileBackground;
   .menu-button {
      svg {
         color: #FFF;
      }
   }
   @include breakpoint(tablet) {
      display: none;
   }
}
.drawer-background {
   background-color: $mobileBackground;
   height: 100%;
   padding: 20%;
}
