.desktop-sidemenu {
   display: none;
   width: 330px;
   height: auto;
   background-color: $sidebarBackground;
   padding: 44px 0;
   @include breakpoint(tablet) {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .logo {
      width: 110px;
      margin: 0 0 34px 0;
   }
}