.movie-list-item {
   width: 100%;
   display: flex;
   flex-direction: column;
   grid-column: span 1;
   position: relative;
   .movie-poster-container {
      position: relative;
   }
   .movie-poster {
      width: 100%;
      cursor: pointer;
   }
   .movie-title {
      max-width: 100%;
      height: 50px;
      color: #FFF;
      text-align: center;
      font-family: "Rubik";
      margin: 10px 0 0 0;
      font-weight: 600;
      font-size: 1rem;
      @include breakpoint(tablet) {
         font-size: 0.7rem;
         height: 20px;
      }
   }
   .movie-type-card {
      position: absolute;
      top: 4px;
      right: 4px;
      background-color: #913de3;
      color: #FFF;
      font-family: "Rubik";
      font-size: 0.7rem;
      padding: 6px;
   }
   .movie-info {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 0;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      color: #8b93a7;
      background-color: $darkGrey;
      font-family: "Rubik";
      font-weight: 400;
      font-size: 0.6rem;
      justify-content: center;
      align-items: center;
      transition: height 100ms ease;
      
      .genres {
         margin: 10px;
         text-align: center;
      }
      .runtime {
         margin: 0 0 10px 0;
      }
   }
   &:hover {
      background-color: $darkGrey;
      position: relative;
      left: -20px;
      padding: 0 20px;
      z-index: 999;
      .movie-info {
         height: 60px;
      }
   }
}