.movie-list {
   width: 80%;
   max-width: 1200px;
   margin: 44px auto;
   @include breakpoint(tablet) {
      margin: 44px 72px;
   }
   @include breakpoint(desktop-wide) {
      margin: 44px auto;
   }
}
.movie-grid {
   display: -ms-grid;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-columns: repeat(2, 1fr);
   grid-column-gap: 1em;
   grid-row-gap: 1em;
   @include breakpoint(tablet) {
      grid-template-columns: repeat(4, 1fr);
   }
   @include breakpoint(desktop) {
      grid-template-columns: repeat(6, 1fr);
   }

}
.pagination {
   display: flex;
   justify-content: center;
   margin: 40px 0;
   &--button {
      border: none;
      background-color: rgba(0,0,0,0);
      color: #FFF;
      cursor: pointer;
      &:focus {
         outline: none;
      }
      &:disabled {
         
      }
   }
   &--numbers {
      display: flex;
      
   }
   &--number {
      font-size: 14px;
      font-weight: 600;
      font-family: "Rubik";
      align-items: center;
      color: #8b93a7;
      &.selected {
         color: #FFF;
      }
   }
}
.filtered {
   display: flex;
   width: 200px;
   justify-content: space-between;
   margin: 20px 0;
   .filter {
      padding: 6px;
      border-radius: 30px;
      background-color: $darkGrey;
      color: #FFF;
      &--title {
         font-size: 0.8rem;
         font-family: "Rubik";
         text-transform: uppercase;
      }
      &--close {
         padding: 0 0 0 10px;
         svg {
            height: 20px;
            color: #FFF;
         }
      }
   }
}