.trailer-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 32px;
   h2 {
      font-family: "Rubik";
      color: #FFF;
   }
   svg {
      color: #FFF;
   }
}
.trailer-video {
   padding: 0 32px 32px 32px;
   height: 80%;
   @include breakpoint(tablet) {
   }
}
.trailer-modal--paper {
   position: absolute;
   background-color: $darkBlue;
   height: 60%;
   width: 95%;
   @include breakpoint(mobile-horizontal) {
      height: 100%;
      width: 100%;
   }
   @include breakpoint(tablet) {
      height: 70%;
      width: 70%;
   }
}