@import 'styles/variables';
@import 'styles/mixins';
@import 'components/header/header';
@import 'components/sidebar/sidebar';
@import 'components/movie/movieList';
@import 'components/movie/movieListItem';
@import 'components/menu/menu';
@import 'components/movie/trailerModal';

@import url('https://fonts.googleapis.com/css?family=Rubik:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

.main-page {
   display: flex;
   min-height: 100vh;
   background-color: $mainBackground;
}